{% capture author_info %}
<div class="author">
 {% if site.author_thumbnail && site.author_thumbnail != '' %}
  <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">
    <img
      src="{{ site.author_thumbnail | prepend: site.baseurl | prepend: site.url }}"
      alt="{{ site.title }}" width="60" height="60" />
  </a>
  {% endif %}
  <h5>Author</h4>
  <h6>
    <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">
      {{ site.author }}
    </a>
  </h5>
  <p>
    Find me on
    {% if site.twitter_username %}
        <a title="{{ site.twitter_username }} on Twitter"
            href="https://twitter.com/{{ site.twitter_username }}"
            class="twitter" target="_blank">Twitter</a>
    {% endif %}
    {% if site.facebook_username %}
        /
        <a title="{{ site.facebook_username }} on Facebook"
            href="https://facebook.com/{{ site.facebook_username }}"
            class="facebook" target="_blank">Facebook</a>
    {% endif %}
    {% if site.gplus_username %}
        /
        <a title="{{ site.gplus_username }} on Google Plus"
            href="https://plus.google.com/{{ site.gplus_username }}"
            class="google" target="_blank">Google</a>
    {% endif %}
  </p>
</div>
{% endcapture %}{{ author_info | strip_newlines }}
