{% capture social_media_li %}
<ul class="social-media">

    {% if site.twitter_username %}
    <li>
        <a title="{{ site.twitter_username }} on Twitter"
            href="https://twitter.com/{{ site.twitter_username }}"
            class="twitter wc-img-replace" target="_blank">Twitter</a>
    </li>
    {% endif %}

    {% if site.gplus_username %}
    <li>
        <a title="{{ site.gplus_username }} on Google Plus"
            href="https://plus.google.com/{{ site.gplus_username }}"
            class="google wc-img-replace" target="_blank">Google</a>
    </li>
    {% endif %}

    {% if site.facebook_username %}
    <li>
        <a title="{{ site.facebook_username }} on Facebook"
            href="https://facebook.com/{{ site.facebook_username }}"
            class="facebook wc-img-replace" target="_blank">Facebook</a>
    </li>
    {% endif %}

    {% if site.github_username %}
    <li>
        <a title="{{ site.github_username }} on Github"
            href="https://github.com/{{ site.github_username }}"
            class="github wc-img-replace" target="_blank">Github</a>
    </li>
    {% endif %}

    {% if site.dribble_username %}
    <li>
        <a title="{{ site.dribble_username }} on Dribble"
            href="https://dribbble.com/{{ site.dribble_username }}"
            class="dribble wc-img-replace" target="_blank">Dribble</a>
    </li>
    {% endif %}

    {% if site.pinterest_username %}
    <li>
        <a title="{{ site.pinterest_username }} on Pinterest"
            href="https://www.pinterest.com/{{ site.pinterest_username }}"
            class="pinterest wc-img-replace" target="_blank">Pinterest</a>
    </li>
    {% endif %}

    <li>
        <a title="Subscribe via RSS"
            href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}"
            class="rss wc-img-replace" target="_blank">
            RSS
        </a>
    </li>

</ul>
{% endcapture %}{{ social_media_li | strip_newlines }}
